matplotlib==3.10.3
numpy==2.0.2
pandas==2.2.3
scikit_learn==1.6.1
seaborn==0.13.2
tensorflow==2.19.0
yfinance==0.2.61
joblib==1.4.2
fastapi==0.111.0
uvicorn==0.29.0
onnxruntime==1.22.0
tf2onnx @ git+https://github.com/onnx/tensorflow-onnx@3dd7729e53253e04da079deb56fdce7bb9f4a338